.button {
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    border: 1px solid black;
}

.button:hover {
    transform: scale(1.05);
}

.button-comprar{
    background-color: green;
    color: white;
    border: 1px solid white;
}