.login-container {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-form {
    background-color: rgb(233, 233, 233);
    width: 40%;
    height: 50%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 2em;
}

.login-form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.login-form div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form div input {
    border-radius: 15px;
    width: 40%;
    height: 40px;
    font-size: 0.7em;
    padding: 10px;
}

