.cartelera-item {
    width: 300px;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.cartelera-name {
    font-size: 1.5em;
    text-align: center;
}