.cartelera-item {
    width: 300px;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(237, 237, 237);
}

.cartelera-name {
    font-size: 1.5em;
    text-align: center;
}

.cartelera-info-visible{
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    width: 350px;
    height: 250px;
}