.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.navbar-elemento {
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}