.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(233, 233, 233);
}

.navbar-section-1, .navbar-section-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
}

.navbar-busqueda {
    margin: 0 15px;
    font-size: 2em;
    cursor: pointer;
    text-align: center;
}