.busqueda {
    margin: 0 15px;
    font-size: 2em;
    cursor: pointer;
    text-align: center;
}

.search-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.search-form input {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}