main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.main-title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.main-description {
    font-size: .8em;
    text-align: center;
    color: #727272;
}

.cartelera {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartelera-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: antiquewhite;
}

.cartelera-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}