.navbar-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: black; 
}
